.home-container{
    display: flex;
    height: 100vh;
    .home-left-side{
        width: 30%;
        background-color: #514688;
    }
    .home-right-side{
        width: 70%;
        background-color: #ffefef;
        .header{
            background-color: #50c1a5;
        }
        .body{
            display: flex;
            flex-direction: column;
            justify-content: end;
            
            height: calc(100vh - 74px);
            

            .message-list{
                display: flex;
                flex-direction: column-reverse;
                margin-bottom: 0.5rem;
                padding: 0 1rem;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
        .chat-welcome{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #50c1a5;
        }
    }
}